
/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-image: url('https://github.com/KodeGoBootcamp-Projects/PF-Exercise_Images/blob/main/pexels-faruk-tokluo%C4%9Flu-9196073.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

main {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

/* #teaMenu {
    background-color: rgba(17, 11, 17, 0.781);
}

#teaMenu.p {
    background-color: rgba(17, 11, 17, 0.781);
} */

div {
    margin: auto;
    width: 50%;
}

.top-line {
    height: 2px;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
    border-color: rgba(80, 17, 17, 0.61);
    box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.71);
}

.teaMenu {
    background-color: rgba(17, 11, 17, 0.781);
    color: rgb(255, 0, 0);
    padding: 20px;
    min-width: 300px;
    
}

.established {
    font-style: italic;
}

.teaLogo {
    height: 50px;
    width: 50px;
    margin: auto;
    display: block;
}

/* .teaMenu {
    background-color: brown;
} */

.teaFlavor, .teaCollection {
    /* background-color: rgba(68, 68, 68, 0.459); */
    text-align: left;
    width: 75%;
    
}

.teaPrice, .collectionPrice {
    /* background-color: rgb(0, 0, 0); */
    text-align: right;
    width: 25%;
}

.teaItem p {
    /* background-color: rgba(0, 0, 0, 0.801); */
    display: inline-block;
}

footer {
    font-size: 14px;
}

a {
    color: red;
    text-decoration: none;
}

/* LVHA */

/* unvisited link */
a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color: #00FF00;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }

  .bottom-line {
    height: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: red;
    border-color: rgba(80, 17, 17, 0.61);
    box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.71);
}